In [2]:
import pandas as pd
raw_path=r"C:\Users\guntu\OneDrive\Desktop\sales-performance-project\data\raw\Sample_ Superstore.csv"
df = pd.read_csv(raw_path)

# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Robust date parsing (handles / and - automatically)
df['order_date'] = pd.to_datetime(
    df['order_date'].astype(str).str.strip(),
    errors='coerce',
    infer_datetime_format=True
)

df['ship_date'] = pd.to_datetime(
    df['ship_date'].astype(str).str.strip(),
    errors='coerce',
    infer_datetime_format=True
)

# Remove rows where dates are invalid
df = df.dropna(subset=['order_date', 'ship_date'])

# Create time features
df['order_year'] = df['order_date'].dt.year
df['order_month'] = df['order_date'].dt.month
df['order_month_name'] = df['order_date'].dt.month_name()

# Profit Margin KPI
df['profit_margin'] = (df['profit'] / df['sales']) * 100


print("Cleaning completed. Rows:", len(df))
# Save safely with proper quoting
df.to_csv(
    "superstore_cleaned.csv",
    index=False,
    quoting=1   # QUOTE_ALL
)

Cleaning completed. Rows: 2740

C:\Users\guntu\AppData\Local\Temp\ipykernel_7100\1126702958.py:9: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['order_date'] = pd.to_datetime(
C:\Users\guntu\AppData\Local\Temp\ipykernel_7100\1126702958.py:15: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['ship_date'] = pd.to_datetime(

In [3]:
df.head(100)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,segment,country,city,state,...,sub-category,product_name,sales,quantity,discount,profit,order_year,order_month,order_month_name,profit_margin
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136,2016,11,November,16.00
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820,2016,11,November,30.00
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714,2016,6,June,47.00
13,14,CA-2016-161389,2016-12-05,2016-12-10,Standard Class,IM-15070,Consumer,United States,Seattle,Washington,...,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3,0.2,132.5922,2016,12,December,32.50
35,36,CA-2016-117590,2016-12-08,2016-12-10,First Class,GH-14485,Corporate,United States,Richardson,Texas,...,Phones,GE 30524EE4,1097.544,7,0.2,123.4737,2016,12,December,11.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,336,CA-2015-137946,2015-09-01,2015-09-04,Second Class,DB-13615,Consumer,United States,Los Angeles,California,...,Copiers,Hewlett Packard LaserJet 3310 Copier,959.984,2,0.2,335.9944,2015,9,September,35.00
336,337,CA-2015-137946,2015-09-01,2015-09-04,Second Class,DB-13615,Consumer,United States,Los Angeles,California,...,Binders,Avery Non-Stick Binders,14.368,4,0.2,4.4900,2015,9,September,31.25
346,347,CA-2017-134306,2017-07-08,2017-07-12,Standard Class,TD-20995,Consumer,United States,Lowell,Massachusetts,...,Art,Binney & Smith inkTank Erasable Desk Highlight...,7.560,3,0.0,3.0996,2017,7,July,41.00
347,348,CA-2017-134306,2017-07-08,2017-07-12,Standard Class,TD-20995,Consumer,United States,Lowell,Massachusetts,...,Paper,Easy-staple paper,24.560,2,0.0,11.5432,2017,7,July,47.00
348,349,CA-2017-134306,2017-07-08,2017-07-12,Standard Class,TD-20995,Consumer,United States,Lowell,Massachusetts,...,Art,"BIC Brite Liner Highlighters, Chisel Tip",12.960,2,0.0,4.1472,2017,7,July,32.00

In [4]:
processed_path = r"C:\Users\guntu\OneDrive\Desktop\sales-performance-project\data\processed\superstore_cleaned.csv"

import os
os.makedirs(os.path.dirname(processed_path), exist_ok=True)

df.to_csv(processed_path, index=False)

print("Saved at:", processed_path)

Saved at: C:\Users\guntu\OneDrive\Desktop\sales-performance-project\data\processed\superstore_cleaned.csv

In [ ]:
import pandas as pd
raw_path=r"C:\Users\guntu\OneDrive\Desktop\sales-performance-project\data\raw\Sample_ Superstore.csv"
df = pd.read_csv(raw_path)


def fix_date(col):
    col = col.astype(str).str.strip()
    col = col.str.replace('/', '-', regex=False)
    return pd.to_datetime(col, errors='coerce', format='mixed')

# 3. Convert date columns safely
df['Order Date'] = fix_date(df['Order Date'])
df['Ship Date']  = fix_date(df['Ship Date'])

# 4. Check missing values (optional debug)
print("Missing dates:")
print(df[['Order Date','Ship Date']].isna().sum())

# 5. Drop only rows where BOTH dates are missing
df = df[~(df['Order Date'].isna() & df['Ship Date'].isna())]

# 6. Create business columns
df['order_year'] = df['Order Date'].dt.year
df['order_month'] = df['Order Date'].dt.month
df['order_month_name'] = df['Order Date'].dt.month_name()
df['profit_margin'] = (df['Profit'] / df['Sales']) * 100

# 7. Final check
print("Final row count:", len(df))

Missing dates:
Order Date    0
Ship Date     0
dtype: int64
Final row count: 9994
File saved as superstore_cleaned.csv

In [7]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,order_year,order_month,order_month_name,profit_margin
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016,11,November,16.00
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016,11,November,30.00
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016,6,June,47.00
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015,10,October,-40.00
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015,10,October,11.25

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID            9994 non-null   int64
 1   Order ID          9994 non-null   object
 2   Order Date        9994 non-null   datetime64[ns]
 3   Ship Date         9994 non-null   datetime64[ns]
 4   Ship Mode         9994 non-null   object
 5   Customer ID       9994 non-null   object
 6   Segment           9994 non-null   object
 7   Country           9994 non-null   object
 8   City              9994 non-null   object
 9   State             9994 non-null   object
 10  Region            9994 non-null   object
 11  Product ID        9994 non-null   object
 12  Category          9994 non-null   object
 13  Sub-Category      9994 non-null   object
 14  Product Name      9994 non-null   object
 15  Sales             9994 non-null   float64
 16  Quantity          9994 non-null   int64
 17  Discount          9994 non-null   float64
 18  Profit            9994 non-null   float64
 19  order_year        9994 non-null   int32
 20  order_month       9994 non-null   int32
 21  order_month_name  9994 non-null   object
 22  profit_margin     9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(2), object(13)
memory usage: 1.7+ MB

In [9]:
processed_path = r"C:\Users\guntu\OneDrive\Desktop\sales-performance-project\data\processed\superstore_cleaned.csv"

import os
os.makedirs(os.path.dirname(processed_path), exist_ok=True)

df.to_csv(processed_path, index=False)